<link href="css/estilos.css" rel="stylesheet" />

<ng-include src="scpUrlBarraNavegacion"></ng-include>
<div class="container-fluid" style="width:100%">
    <div class="container-fluid justify-content-center" style="width:60%">
        <table class="table table-striped">
            <thead>
                <tr><th colspan="7" id="titulosTablas" style="text-align:center">Mis solicitudes guardadas</th></tr>
                <tr>
                    <th>Tipo de beca</th>
                    <th colspan="6">Fecha de guardado</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="solicitud in solicitudesGuardadas">
                    <td>{{solicitud.Tipo}}</td>
                    <td>{{calculateTime(solicitud.FechaAlmacenamiento) | date: 'd MMMM  yyyy - HH:mm'}}</td>
                    <td>
                        <span data-toggle="tooltip" data-placement="bottom" title="Detalles" id="DetEditText">
                            <i class=" fa fa-eye fa-lg" ng-click="verFormularioSolicitud(solicitud.Id,'detallesEstudiante',solicitud.AbreviaturaBeca)"></i>
                        </span>
                    </td>
                    <td>
                        <span data-toggle="tooltip" data-placement="bottom" title="Editar">
                            <i class=" fa fa-edit fa-lg" ng-click="verFormularioSolicitud(solicitud.Id, 'editarEnviada',solicitud.AbreviaturaBeca )" id="DetEditText"></i>
                        </span>
                    </td>
                    <td>
                        <span data-toggle="tooltip" data-placement="bottom" title="Enviar">
                            <i class=" fa fa-share fa-lg" ng-show="activarEnviado(solicitud.AbreviaturaBeca)" data-toggle="modal" data-target="#AlertaConf" ng-click="prevEnviarSolicitud(solicitud.Id)" id="DetEditText"></i>
                        </span>
                    </td>
                    <td>
                        <span data-toggle="tooltip" data-placement="bottom" title="Eliminar">
                            <i class=" fa fa-trash fa-lg" ng-click="prevBorrarSolicitud(solicitud.Id)" data-toggle="modal" data-target="#AlertaConf" id="DetEditText"></i>
                        </span>
                    </td>
                    <td>
                        <span id="clonarDropD" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <i class="fa fa-clone fa-lg dropdown" data-toggle="tooltip" data-placement="bottom" title="Clonar"></i>
                        </span>
                        <span class="dropdown-menu" aria-labelledby="clonarDropD">
                            <a class="dropdown-item" ng-repeat="beca in scpTiposBeca" ng-click="prevClonarSolicitud(solicitud.Id,beca.AbreviaturaBeca)" href="">{{beca.Tipo}}</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
