<link href="css/estilos.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #04025f;">
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">Comisión Horas Beca</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBar">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="btn btn-link linkNav" href="#!comision">Solicitudes recibidas</a>
            </li>
        </ul>
        <form class="form-inline my-2">
            <span data-toggle="tooltip" data-placement="bottom" title="Indicaciones de uso"><span data-toggle="modal" data-target="#" style="color:white" class="fa fa-2x fa-question-circle" id="iconos"></span></span>
            <span data-toggle="tooltip" data-placement="bottom" title="Información general"><span data-toggle="modal" data-target="#" style="color:white" class="fa fa-2x fa-info-circle  mx-3" id="iconos"></span></span>
            <span data-toggle="tooltip" data-placement="bottom" title="Salir"><span data-toggle="modal" data-target="#" style="color:white" class="fa fa-2x fa-sign-out" id="iconos"></span></span>
        </form>
    </div>
</nav>